@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html, body {
  height: 100%;
}

body {
  @apply bg-white text-neutral-900 antialiased;
}

* { box-sizing: border-box; }

/* Utility: nicer scroll */
::-webkit-scrollbar { width: 10px; height: 10px; }
::-webkit-scrollbar-thumb { background: #d4d4d4; border-radius: 999px; }
::-webkit-scrollbar-track { background: transparent; }
